<ion-tabs *ngIf="role == '0'" [color]="'tail'">
  <ion-tab [root]="homePage" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab tabIcon="book" tabTitle="Orders" [ngStyle]="{'color':'blue'}"></ion-tab>
  <!-- <ion-tab [root]="ordersPage" tabIcon="book" tabTitle="Online Orders" [ngStyle]="{'color':'blue'}"></ion-tab> -->
  <!-- <ion-tab [root]="trialBalPage" tabIcon="list-box" tabTitle="Trial Balance" [ngStyle]="{'color':'blue'}"></ion-tab> -->
  <!-- <ion-tab [root]="dayBookPage" tabIcon="book" tabTitle="Day book" [ngStyle]="{'color':'blue'}"></ion-tab> -->
  <!-- <ion-tab [root]="statisticsPage" tabIcon="stats" tabTitle="Statistics" [ngStyle]="{'color':'blue'}"></ion-tab> -->
</ion-tabs>
<!-- <ion-tabs *ngIf="role == '2'" [color]="'tail'">
  <ion-tab [root]="homePage" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="trialBalPage" tabIcon="list-box" tabTitle="Trial Balance" [ngStyle]="{'color':'blue'}"></ion-tab>
</ion-tabs>
<ion-tabs *ngIf="role == '3'" [color]="'tail'">
  <ion-tab [root]="homePage" tabTitle="Home" tabIcon="home"></ion-tab>
</ion-tabs> -->
<!-- <ion-tabs [color]="'tail'">
  <ion-tab [root]="homePage" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab *ngIf="role == '1' || role == '2'" [root]="trialBalPage" tabIcon="list-box" tabTitle="Trial Balance" [ngStyle]="{'color':'blue'}"></ion-tab>
  <ion-tab *ngIf="role == '1'" [root]="dayBookPage" tabIcon="book" tabTitle="Day book" [ngStyle]="{'color':'blue'}"></ion-tab>
  <ion-tab [root]="statisticsPage" tabIcon="stats" tabTitle="Statistics" [ngStyle]="{'color':'blue'}"></ion-tab>
</ion-tabs> -->